.top-stats {
    background-color: rgb(37, 36, 37);
    width: 100%;
    height: 150px;
}

.settingsbutton {

    background: url(settingicon90.png) no-repeat;
    height: 94px;
    width: 94px;
    margin-top: 26px;

}



.profile {
    width: 500px;
}

.navbar {
    background-color: aqua;
    position: fixed;
    bottom: 0;
    width: 100%;

}

.nav_buttons {
    display: flex;
}

.nav_buttons button {

    width: 500px;

    text-decoration: none;
    height: 190px;
    text-align: center;
    overflow: hidden;

}

.home {
    text-align: center;
}

.home button {
    height: 90px;
    width: 300px;

}

/* Place the navbar at the bottom of the page, and make it stick */


/* Style the links inside the navigation bar 
.navbar button {

    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    height: 190px;
    background-color: rgb(159, 196, 101);


}*/
/*.nav_buttons button {
    padding: 10px 10px 10px;
    text-align: center;
    width: 500px;

}

.nav_buttons {
    background-color: rgb(218, 22, 22);
    overflow: hidden;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-around;
}*/