body {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    height: 100%;
}

.top-stats {
    background-color: rgb(37, 36, 37);
    width: 100%;
    height: 55px;
}

.settingsbutton {

    background: url(settingicon60.png) no-repeat;
    background-color: rgb(204, 203, 203);
    background-size: 40px 40px;
    height: 43px;
    width: 43px;
    margin-top: 6.5px;
    border-radius: 15px 15px 15px 15px;

}



.profile {
    width: 500px;
}

.navbar {
    background-color: rgb(160, 160, 160);
    position: fixed;
    bottom: 0px;
    width: 100%;


}


.nav_buttons {
    display: flex;
    text-align: center;
    justify-content: space-around;

}

.collection {
    text-align: center;
}

.nav_buttons button {
    border-radius: 15px 15px 15px 15px;
    width: 100px;
    align-items: center;
    text-decoration: none;
    height: 50px;
    text-align: center;
    overflow: hidden;

}

.home {
    text-align: center;
}

.home button {
    height: 30px;
    width: 200px;
    border-radius: 15px 15px 15px 15px;
}

/* Place the navbar at the bottom of the page, and make it stick */


/* Style the links inside the navigation bar 
.navbar button {

    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    height: 190px;
    background-color: rgb(159, 196, 101);


}*/
/*.nav_buttons button {
    padding: 10px 10px 10px;
    text-align: center;
    width: 500px;

}

.nav_buttons {
    background-color: rgb(218, 22, 22);
    overflow: hidden;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-around;
}*/